<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expriment page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <video src="your-video.mp4" autoplay muted controls></video>
        <div class="button-container-reactants">
            <button class="button shake-button correct" id="1" >CuSO4</button>
            <button class="button shake-button" id="2">NaOH</button>
            <button class="button shake-button" id="3">ZnSO4</button>
        </div>

    </div>
    <div class="container">
        <div class="button-container-added" >
            <button class="button shake-button correct" id="4" >Fe</button>
            <button class="button shake-button" id="5">NaCl</button>
            <button class="button shake-button" id="6">Ag</button>
        </div>

    </div>
    <script src="index.js"></script>
</body>
</html>