.container {
    position: relative;
    text-align: center;
    margin-top: 150px;
}
.head{
    background-color:yellow;
    padding: 10px ;
    padding-left: 30%;
}

video {
    width: 600px; 
    height: auto;
}

.button-container1 {
    position: absolute;
    display:flex;
    flex-direction: column;
   top: 0;
    left: 340px;
    gap: 25px;
    cursor: pointer;
    
}
.button-container2{
    position: absolute;
    display:flex;
    flex-direction: column;
    top: 0px;
    right: 350px;
    gap: 25px;
    cursor: pointer;
}
.button { 
    width: 100px;
    height: 100px;
    display: flex;
    gap: 40px;
    cursor: pointer; 
    border: none;
   background-color: white;
}
.image{
    width: 100px;
    height: 100px;
    
}

.foot 
{
    background-color: #ff9800;
}