.container {
    text-align: center;
}

video {
    width: 600px; /* Adjust the width as needed */
    height: auto;
}

.button-container-reactants {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}
.button-container-added {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.button {
    width: 100px;
    height: 100px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}
.shake-button {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
/* .shake-button {
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1); /* Use cubic-bezier for smoother animation 
} */
.shake-button.shaking {
    transform: translateX(-100px);
    
}