body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('images/lab_bg_2.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #333;
}

.login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 1.8em;
    color: #007bff;
    margin-bottom: 20px;
}

.login-form h2 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 20px;
}

.role-selection {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.role-btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.role-btn:hover {
    background-color: #0056b3;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #218838;
}

#role-message {
    margin-top: 15px;
    font-size: 1em;
    color: #dc3545;
}

.signup {
    margin-top: 20px;
    font-size: 1em;
}

.signup p {
    margin: 0;
}

.signup button {
    background-color: transparent;
    color: #007bff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.signup button:hover {
    color: #0056b3;
}
/* .logo{
    height: 5px;
    width: 5px;
    object-fit: cover;
    border: radius 50px;
    display: flex;
    top:100px;
} */



